---
import PageLayout from 'src/layouts/PageLayout.astro'

const title = '404 - Page Not Found'
const desc = "This page doesn't exist just like my love life :')"
---

<PageLayout head={{ title, description: desc }}>
  <h1>{title}</h1>

  <p>{desc}</p>
</PageLayout>
