---
import PageLayout from 'src/layouts/PageLayout.astro'
import { SITE_TITLE, SITE_DESCRIPTION, HOME_LINKS } from 'src/config'
---

<PageLayout title={SITE_TITLE} description={SITE_DESCRIPTION} class="space-y-5">
  <section>
    <h1>Hey there, I'm <span class="text-amber-500">Geek</span> 👋</h1>

    <p>
      A full-stack developer working mainly in frontend with experience building
      web-based video editor, ed-tech platforms, and more. I have a passion for
      creating innovative and user-friendly interfaces.
    </p>

    <p>
      Currently looking for full time opportunities, see my
      <a href="/resume">resume</a>.
    </p>

    <p>
      Checkout some of my <a href="/projects">projects</a>,
      <a href="/blog">blogs</a>
      or find some new <a href="/resources">resources</a>.
    </p>
  </section>

  <!-- <section>
    <h2>My tech stack</h2>

    <ul>
      <li>
        <b>Languages:</b>
        <p>JavaScript, TypeScript, HTML/CSS</p>
      </li>

      <li>
        <b>Frameworks:</b>
        <p>Node.js, React, Next.js, React Native, Svelte, Astro</p>
      </li>

      <li>
        <b>Libraries:</b>
        <p>Redux, MobX, Zustand, React Query, GraphQL, tRPC</p>
      </li>

      <li>
        <b>Platfroms & Tools:</b>
        <p>GCP, AWS, Firebase, Docker, VS Code, Git/Github, Linux</p>
      </li>

      <li>
        <b>Design & UI:</b>
        <p>Figma, Bootstap, Tailwind, Radix UI</p>
      </li>
    </ul>
  </section> -->

  <section>
    <h2>Find me at:</h2>

    <ul>
      {
        HOME_LINKS.map((link) => (
          <li>
            <a href={link.href}>{link.label}</a>
          </li>
        ))
      }
    </ul>
  </section>
</PageLayout>
