---
import { EPK_LINK } from 'src/config'
import PageLayout from 'src/layouts/PageLayout.astro'
import { setCache } from 'src/lib/cache'

const title = 'Pathetic Geek | Music'
const desc = 'Merging tracks smoothly, one beat at a time'

setCache(Astro.response, 1 * 60 * 60)
---

<PageLayout head={{ title, description: desc }}>
  <section class="mb-6">
    <p>Listen to some of my sets on soundcloud</p>
    <iframe
      width="100%"
      height="300"
      scrolling="no"
      frameborder="no"
      allow="autoplay"
      src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/playlists/1869071189&color=%23ff5500&auto_play=false&hide_related=false&show_comments=true&show_user=true&show_reposts=false&show_teaser=true&visual=true"
    ></iframe>
  </section>

  <section>
    <p>Here's a few links you can checkout</p>

    <ul>
      <li>
        <a href={EPK_LINK}>Press Kit</a>
      </li>
      <li>
        <a
          href="https://drive.google.com/drive/u/0/folders/1qppIwWaWoxgREnIbA8UKPD1lw_Ugsxpn"
          >Get my assets</a
        >
      </li>
    </ul>
  </section>
</PageLayout>
