---
import { Image } from 'astro:assets'
import meDjing from 'src/assets/me_djing.jpg'
import { EPK_LINK } from 'src/config'
import PageLayout from 'src/layouts/PageLayout.astro'
import { setCache } from 'src/lib/cache'

const title = "Geek's Music"
const desc = 'Merging tracks smoothly, one beat at a time'

setCache(Astro.response, 1 * 60 * 60)
---

<PageLayout
  head={{ title, description: desc, image: { ...meDjing, size: 'large' } }}
>
  <Image src={meDjing} alt="Pathetic Geek DJing" class="mb-6 rounded-2xl" />

  <section class="mb-6">
    <h1>About me</h1>
    <p>Pathetic Geek: By day, a dedicated software engineer; by night, a passionate DJ who thrives on making the dance floor come alive. His journey into the world of music began as a child, captivated by the magic of a DJ console at a school fest.</p>
    <p>Since then, the energy of the DJ booth has been his calling. Whether dancing beside DJs at concerts or making others dance beside him, Pathetic Geek has embraced the art form with unwavering enthusiasm. His musical repertoire spans diverse genres, including house, peak-time driving, melodic techno, drum and bass, dubstep, UK garage, Jersey club, psytrance, and dance.</p>
    <p>From self-taught beginnings to formal training at Beatworx, he refined his craft under the mentorship of industry stalwarts like SevethSea, Shreyas, and Anejath. Pathetic Geek has performed in some of the top clubs including Pangeo, White Lotus Club, Parka Restobar.</p>
    <p>Today, Pathetic Geek aims to sync hearts and steps on the dance floor, blending beats that resonate with every soul.</p>
    <p>
      Checkout my <a href={EPK_LINK}>Press Kit</a> or <a
        href="https://soundcloud.com/pathetic_geek">SoundCloud</a
      >.
    </p>
  </section>

  <section class="mb-6">
    <h2>Listen to some of my sets on soundcloud</h2>
    <iframe
      width="100%"
      height="300"
      scrolling="no"
      frameborder="no"
      src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/playlists/1869071189&color=%23ff5500&auto_play=false&hide_related=false&show_comments=true&show_user=true&show_reposts=false&show_teaser=true&visual=true"
    ></iframe>
  </section>
</PageLayout>
