---
import { NAV_LINKS, SITE_TITLE } from 'src/config'
---

<header class="flex items-center border-b border-zinc-700 px-3 py-3 md:text-sm">
  <div
    class="mx-auto flex w-full max-w-3xl flex-col items-center space-y-2 md:flex-row md:space-y-0">
    <a class="text-white md:ml-9" href="/">
      {SITE_TITLE}
    </a>

    <nav class="flex items-center space-x-2 md:ml-auto">
      {
        NAV_LINKS.map((link) => (
          <a
            class:list={[
              'px-1',
              link.href === Astro.url.pathname && 'decoration-current'
            ]}
            href={link.href}>
            {link.label}
          </a>
        ))
      }
    </nav>
  </div>
</header>
