---
import BaseHead from 'src/components/BaseHead.astro'
import Header from 'src/components/Header.astro'

type Props = {
  title: string
  description: string
  banner?: string
  class?: string
}

const { title, description, banner, class: className } = Astro.props
---

<!DOCTYPE html>
<html lang="en-us">
  <head>
    <BaseHead title={title} description={description} banner={banner} />
  </head>
  <body>
    <Header />

    <main class={className}>
      <slot />
    </main>
  </body>
</html>
